# MongoDB（使用远程服务）
MONGODB_URI=mongodb://root:QU8p10Vs3A5r2MqD@47.108.149.4:30017/photo?authSource=admin&replicaSet=rs0&retryWrites=false

# 七牛云存储
QINIU_ACCESS_KEY=C2eEZj4CQlOUf_rkuiZRHKDlN206bmpfbAe7r3Li
QINIU_SECRET_KEY=5U8PnnUm2uj0rMEqwe5ta_ETFnMw9w2b7AfVVFE1
QINIU_BUCKET=fengtu-test1
QINIU_DOMAIN=test1-oss.starpix.cn

# 通义千问 API
QWEN_API_KEY=your_api_key_here

# JWT
JWT_SECRET=your_jwt_secret_here

# 微信小程序
WECHAT_APPID=your_appid
WECHAT_SECRET=your_secret
